@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* default style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    background-color: white;
    max-width: 1200px;
    margin: 10px auto;
    padding: 30px;
    border-radius: 20px;
}

/* header section starts */

header {
    background-color: #562EFF;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 50px;
}

.logo p {
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
}

hr {
    border: 1px solid #ddd;
    margin: 30px 0px;
}

/* top player section starts */

.top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.top-player-title {
    color : #562EFF;
    margin-bottom: 30px;
}

.blog-content a {
    color: #562EFF;
    text-decoration: none;
}

.players {
    display: flex;
    align-items: center;
}
.player-image {
    margin-right: 20px;
}
.players img {
    width: 56px;
    height: 56px;
}

/* top blog section starts */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.blog {
    display: flex;
    align-items: center;
}
.blog-content {
    margin-left: 20px;
}

.blog-content h3 {
    font-size: 22px;
    font-weight: 500;
}

.blog-content p {
    font-size: 18px;
}

.blog-image img {
    width: 177px;
    height: 117px;
}

/* latest course section */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.course {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 10px;
}

.course-img img {
    width: 224px;
    height: 104px;
}
.course-content h3 {
    font-size: 23px;
    font-weight: 400;
    margin: 10px 0;
}
.course-content p {
    font-size: 17px;
    color: red;
    margin: 10px 0;
}
.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon i {
    color: #FFC014;
    font-size: 12px;
}
.icon .empty {
    color: #AEAEAE;
}

.clock {
    border: 1px solid #FF4A60;
    padding: 2px 5px;
    background: rgba(255, 74, 95, 0.212);
    color: #FF4A60;
    border-radius: 20px;
}


@media screen and (max-width: 992px) {
    .header-container {
        max-width: 700px;
    }
    .top-player, .blogs, .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}



@media screen and (max-width: 688px){
    .header, .logo {
        flex-direction: column;
    }
    .logo {
        margin-top: 25px;
    }

    .top-player-title {
        text-align: center;
    }

    .top-player, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .players {
        justify-content: center;
    }
}